/*DEFAULT LAYOUTS*/
* {
    margin:0;
    padding:0;
}

.content-block {
    width:80%;
    margin: 80px auto;
}

.button {
    width:150px;
    height:50px;
}


/*HEADER*/
.header-block {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;

}

.header-logo {
    height:80px;
}


.nav-list {
    display:flex;
    flex-wrap:wrap;
    margin-right:10px;
    
}

.nav-item {
    padding:3px 10px 5px 10px;
}


/*HERO*/
.hero-block {
    display:grid;
    grid-template-columns:40% 40%;
    justify-items:center;
    justify-content:center;
    gap:1vw;
}

.hero-text {
   display:grid;
   max-width:400px;
   grid-template-columns: 1fr;
   align-content:space-evenly;
   gap:1vw;
}

.hero-image {
 margin:20px 0 20px 0;
}
.hero-image img {
  width:100%;
  max-width:400px;
  border-radius:16px;

}

.hero-button {
    width:200px;
    height:50px;
}


/*SPECIALS*/

.specials-header {
    display:flex;
    padding:10px 0;
    justify-content:space-between;
}



.specials-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content:space-between;
    gap:1vw;
}

.special-image {
    width:100%;
}

.delivery-icon {
    width:20px;
    height:16px;
}

.specials-card {
    display:grid;
    grid-template-columns:1fr;
    height:100%;
}

.special-content {
   
    display: grid;
    grid-template-columns: 1fr;
    gap:10px;
    padding:10px;
    height:100%;
}

.special-header {
    display:flex;
    justify-content:space-between;
}

.special-footer {
    display:flex;
    justify-content:space-between;
}


/*TESTIMONIALS*/

.testimonial-title {
    width:6em;
    margin:auto;
}


.testimonials-list {

    display:grid;

    grid-template-columns: repeat(4, 20%);
    gap:10px;
    justify-content:space-between;

}


.rating {
   display:flex;
   justify-content:space-between;
   flex-wrap:wrap;
   gap:2px;
}

.rating-star {
    width:10px;
}

.testimonial-content {
    display:grid;
    grid-template-columns: 1fr;
}

.testimonial-image {
    width:100%;
}

/*ABOUT*/
.about-block {
   display:grid;
   grid-template-columns: 40% 40%;
   align-items:center;
   justify-content:center;
   min-height:300px;

}


.about-text {
    display:flex;
    flex-direction: column;
    gap:10px;
    margin: 10px 0;
    width:300px;
}

.about-images {
    width:300px;
    height:300px;
 }

.about-image {
    width:180px;
}

.about-image-a {
  position:relative; 
  top:70px;
  z-index: 1;
}

.about-image-b {
    position:relative; 
    top:-230px;
    left:120px;
    z-index:2;
}

/*FOOTER*/
.footer-block {
    display:flex;
    flex-wrap:wrap;
}

.footer-columns {
   flex-grow:1;
    display:flex;
    gap:3vw;
    justify-content:center;
}

.footer-image {
    width:200px;

}

.footer-column {
   
}


/*BOOKING FORM*/
.booking-form {
    width:50%;
    min-width:250px;
    margin:auto;
    padding:10px;
}




.booking-inputs {
    display: grid;
    grid-template-rows: 1fr;
    padding:10px;
    gap:10px;
}

.confirm-block {
    width:50%;
    margin:auto;
    padding:10px;
}

.booking-details {
    padding:20px 0;
}


/*SMALLER SCREENS*/
@media screen and (max-width:800px){
    /*HERO*/
    .hero-block {
        grid-template-columns: 1fr;
        gap:20px;
    }

    .hero-text {
        margin:10px 0;
    }

    /*SPECIALS*/
    .specials-list {
        grid-template-columns: 1fr;
        gap:20px;
    }

   

    /*TESTIMONIALS*/
    .testimonials-list {
        grid-template-columns: 1fr 1fr;
    }

    /*ABOUT*/
    .about-block {
        grid-template-columns: 1fr;
        gap:20px;
    }

    .about-text {
        margin:auto;
        width:80%;
    }

    .about-images {
        margin:auto;
    }

}








