.bg-green {
    background-color:#495E57;
}

.bg-yellow {
    background-color:#F4CE14;
}

.text-yellow {
    color:#F4CE14;
}

.text-light {
   color:#EDEFEE;
}

.text-dark {
    color:#333333;
}


body {
    background-color:#EDEFEE;
}



.nav-item {
    list-style-type: none;
    border-radius:8px;
    padding:3px 10px 5px 10px;
    transition: background-color 0.8s;
}

li > Link  {
    text-decoration: none;
}

.nav-item:hover {
    background-color: #fbdabb;
}



h1 {
    font-family:Markaza, 'Times New Roman', Times, serif;
    font-size:40px;
}

p {
    font-family:Karla,Verdana, Geneva, Tahoma, sans-serif;
}


.specials-list {
    list-style-type: none;
}

.special-image {
    border-radius:16px 16px 0 0;
}

.testimonials-list {
    list-style-type: none;
}

.footer-column > li {
    list-style-type: none; 
}

.button {
   background-color: #F4CE14; 
   border-radius: 16px;
   font-size:16px;
   color:#333333;
   border-style: none;
}

.button {
    background-color: #F4CE14; 
    border-radius: 16px;
    font-size:16px;
    color:#333333;
    border-style: none;
}

.button:hover {
    border-style:solid;
}



.specials-button {
   background-color: #F4CE14; 
   border-radius: 16px;
   font-size:16px;
   color:#333333;
   border-style: none;
}

.special-title {
    font-family:Karla,Verdana, Geneva, Tahoma, sans-serif;
    font-size:18px;
    font-weight: bold;

}

.special-price {
    font-family:Karla,Verdana, Geneva, Tahoma, sans-serif;
    font-size:18px;
    color:#EE9972;
}

.delivery-icon {
    fill:yellowgreen;
}

.bg-salmon {
    background-color:#EE9972;
}

.submit-button:disabled {
    background-color:gray;
}





.hero-button:hover {
    border-style:solid;
}

.specials-button:hover {
    border-style:solid;
}

.submit-button:hover {
    border-style:solid;
}

.booking-form {
    border: 3px solid #F4CE14;
  
    border-radius:16px;
}

.confirm-block {
    border:3px solid #F4CE14
   
}